<h1>Comidaki</h1>
<p><%= link_to "Usuarios", '/usuarios', :method => :get %></p>
<p><%= link_to "Enderecos", '/enderecos', :method => :get %></p>
<td><%= link_to 'Telefones', '/telefones', :method => :get %></td>
<p><%= link_to "Restaurantes", '/restaurantes', :method => :get %></p>
<p><%= link_to "Franquias", '/franquia', :method => :get %></p>
<p><%= link_to "Pratos", '/pratos', :method => :get %></p>
<p><%= link_to "Ingredientes", '/ingredientes', :method => :get %></p>
<p><%#= link_to "Tipos de Culinaria", '/tipo_de_culinaria', :method => :get %></p>
<p><%= link_to "Avaliacoes", '/avaliacaos', :method => :get %></p>
<p><%= link_to "Pedidos", '/pedidos', :method => :get %></p>