<p id="notice"><%= notice %></p>

<h1>Listing Administrador De Restaurantes</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Cnpj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrador_de_restaurantes.each do |administrador_de_restaurante| %>
      <tr>
        <td><%= administrador_de_restaurante.cpf %></td>
        <td><%= administrador_de_restaurante.cnpj %></td>
        <td><%= link_to 'Show', administrador_de_restaurante %></td>
        <td><%= link_to 'Edit', edit_administrador_de_restaurante_path(administrador_de_restaurante) %></td>
        <td><%= link_to 'Destroy', administrador_de_restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrador de restaurante', new_administrador_de_restaurante_path %>
