<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @administrador_de_restaurante.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @administrador_de_restaurante.cnpj %>
</p>

<%= link_to 'Edit', edit_administrador_de_restaurante_path(@administrador_de_restaurante) %> |
<%= link_to 'Back', administrador_de_restaurantes_path %>
