<p id="notice"><%= notice %></p>

<h1>Listing E Composto Pors</h1>

<table>
  <thead>
    <tr>
      <th>Id prato</th>
      <th>Id ingrediente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @e_composto_pors.each do |e_composto_por| %>
      <tr>
        <td><%= e_composto_por.id_prato %></td>
        <td><%= e_composto_por.id_ingrediente %></td>
        <td><%= link_to 'Show', e_composto_por %></td>
        <td><%= link_to 'Edit', edit_e_composto_por_path(e_composto_por) %></td>
        <td><%= link_to 'Destroy', e_composto_por, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New E composto por', new_e_composto_por_path %>
