<p id="notice"><%= notice %></p>

<p>
  <strong>Id prato:</strong>
  <%= @e_composto_por.id_prato %>
</p>

<p>
  <strong>Id ingrediente:</strong>
  <%= @e_composto_por.id_ingrediente %>
</p>

<%= link_to 'Edit', edit_e_composto_por_path(@e_composto_por) %> |
<%= link_to 'Back', e_composto_pors_path %>
