<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @pedido_tem_prato.quantidade %>
</p>

<p>
  <strong>Id pedido:</strong>
  <%= @pedido_tem_prato.id_pedido %>
</p>

<p>
  <strong>Id prato:</strong>
  <%= @pedido_tem_prato.id_prato %>
</p>

<%= link_to 'Edit', edit_pedido_tem_prato_path(@pedido_tem_prato) %> |
<%= link_to 'Back', pedido_tem_pratos_path %>
