<p id="notice"><%= notice %></p>

<h1>Listing Franquia</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Faixa de preco</th>
      <th>Tempo de entrega estimada</th>
      <th>Custo de entrega km</th>
      <th>Raio de entrega</th>
      <th>Nota</th>
      <th>Cnpj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franquia.each do |franquium| %>
      <tr>
        <td><%= franquium.nome %></td>
        <td><%= franquium.Faixa_de_preco %></td>
        <td><%= franquium.Tempo_de_entrega_estimada %></td>
        <td><%= franquium.Custo_de_entrega_km %></td>
        <td><%= franquium.Raio_de_entrega %></td>
        <td><%= franquium.Nota %></td>
        <td><%= franquium.cnpj %></td>
        <td><%= link_to 'Show', franquium %></td>
        <td><%= link_to 'Edit', edit_franquium_path(franquium) %></td>
        <td><%= link_to 'Destroy', franquium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Franquium', new_franquium_path %>
