<p id="notice"><%= notice %></p>

<h1>Listing Franquia</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Faixa preco</th>
      <th>Tempo entrega estimado</th>
      <th>Custo entrega km</th>
      <th>Raio entrega</th>
      <th>Nota</th>
      <th>Cnpj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franquia.each do |franquium| %>
      <tr>
        <td><%= franquium.nome %></td>
</td>
        <td><%= franquium.faixa_preco %></td>
        <td><%= franquium.tempo_entrega_estimado %></td>
        <td><%= franquium.custo_entrega_km %></td>
        <td><%= franquium.raio_entrega %></td>
        <td><%= franquium.nota %></td>
        <td><%= franquium.cnpj %></td>
          <td><%= link_to 'Adicionar Endereco', '/endereco_franquia/new', :method => :get %></td>
          <td><%= link_to 'Adicionar Prato', '/pratos/new', :method => :get %></td>
          <td><%= link_to 'Adicionar Tipo Culinario', '/tipo_de_culinaria/new', :method => :get %></td>
          <td><%= link_to 'Adicionar Horario de Funcionamento', '/horario_de_funcionamentos/new', :method => :get %></td>
          <td><%= link_to 'Adicionar Avaliacao', '/avaliacaos/new', :method => :get %></td>
          <td><%= link_to 'Show', franquium %></td>
        <td><%= link_to 'Edit', edit_franquium_path(franquium) %></td>
        <td><%= link_to 'Destroy', franquium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Nova Franquia', new_franquium_path %>

<p><%= link_to "Menu", '/', :method => :get %></p>
