<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @franquium.nome %>
</p>

<p>
  <strong>Faixa preco:</strong>
  <%= @franquium.faixa_preco %>
</p>

<p>
  <strong>Tempo entrega estimado:</strong>
  <%= @franquium.tempo_entrega_estimado %>
</p>

<p>
  <strong>Custo entrega km:</strong>
  <%= @franquium.custo_entrega_km %>
</p>

<p>
  <strong>Raio entrega:</strong>
  <%= @franquium.raio_entrega %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @franquium.nota %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @franquium.cnpj %>
</p>

<%= link_to 'Edit', edit_franquium_path(@franquium) %> |
<%= link_to 'Back', franquia_path %>
