<p id="notice"><%= notice %></p>

<h1>Listing Enderecos</h1>

<table>
  <thead>
    <tr>
      <th>Logradouro</th>
      <th>Cep</th>
      <th>Numero</th>
      <th>Complemento</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.logradouro %></td>
        <td><%= endereco.cep %></td>
        <td><%= endereco.numero %></td>
        <td><%= endereco.complemento %></td>
        <td><%= endereco.cidade %></td>
        <td><%= endereco.estado %></td>
        <td><%= endereco.latitude %></td>
        <td><%= endereco.longitude %></td>
        <td><%= link_to 'Show', endereco %></td>
        <td><%= link_to 'Edit', edit_endereco_path(endereco) %></td>
        <td><%= link_to 'Destroy', endereco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Endereco', new_endereco_path %>

<td><%= link_to 'Adicionar Endereco Cliente', '/endereco_clientes/new', :method => :get %></td>
<td><%= link_to 'Adicionar Endereco Franquia', '/endereco_franquia/new', :method => :get %></td>

<p><%= link_to "Menu", '/', :method => :get %></p>
