<p id="notice"><%= notice %></p>

<h1>Listing Endereco Franquia</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @endereco_franquia.each do |endereco_franquium| %>
      <tr>
        <td><%= link_to 'Show', endereco_franquium %></td>
        <td><%= link_to 'Edit', edit_endereco_franquium_path(endereco_franquium) %></td>
        <td><%= link_to 'Destroy', endereco_franquium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Endereco franquium', new_endereco_franquium_path %>
