<p id="notice"><%= notice %></p>

<h1>Listing Franquia Tem Tipo Culinarios</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franquia_tem_tipo_culinarios.each do |franquia_tem_tipo_culinario| %>
      <tr>
        <td><%= franquia_tem_tipo_culinario.cnpj %></td>
        <td><%= franquia_tem_tipo_culinario.nome %></td>
        <td><%= link_to 'Show', franquia_tem_tipo_culinario %></td>
        <td><%= link_to 'Edit', edit_franquia_tem_tipo_culinario_path(franquia_tem_tipo_culinario) %></td>
        <td><%= link_to 'Destroy', franquia_tem_tipo_culinario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Franquia tem tipo culinario', new_franquia_tem_tipo_culinario_path %>
