<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @franquia_tem_tipo_culinario.cnpj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @franquia_tem_tipo_culinario.nome %>
</p>

<%= link_to 'Edit', edit_franquia_tem_tipo_culinario_path(@franquia_tem_tipo_culinario) %> |
<%= link_to 'Back', franquia_tem_tipo_culinarios_path %>
