<p id="notice"><%= notice %></p>

<h1>Listing Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.cpf %></td>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.senha %></td>
          <td><%= link_to 'Adicionar Telefone', '/telefones/new', :method => :get %></td>
         <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'Adicionar Cliente', '/clientes/new', :method => :get %></td>
<td><%= link_to 'Adicionar Admin Restaurante', '/administrador_de_restaurantes/new', :method => :get %></td>
<%#= link_to 'New Usuario', new_usuario_path %>

<p><%= link_to "Menu", '/', :method => :get %></p>