<p id="notice"><%= notice %></p>

<h1>Listing E Subtipos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome subtipo</th>
      <th>Id subtipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @e_subtipos.each do |e_subtipo| %>
      <tr>
        <td><%= e_subtipo.nome %></td>
        <td><%= e_subtipo.nome_subtipo %></td>
        <td><%= e_subtipo.id_subtipo %></td>
        <td><%= link_to 'Show', e_subtipo %></td>
        <td><%= link_to 'Edit', edit_e_subtipo_path(e_subtipo) %></td>
        <td><%= link_to 'Destroy', e_subtipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New E subtipo', new_e_subtipo_path %>
