<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @e_subtipo.nome %>
</p>

<p>
  <strong>Nome subtipo:</strong>
  <%= @e_subtipo.nome_subtipo %>
</p>

<p>
  <strong>Id subtipo:</strong>
  <%= @e_subtipo.id_subtipo %>
</p>

<%= link_to 'Edit', edit_e_subtipo_path(@e_subtipo) %> |
<%= link_to 'Back', e_subtipos_path %>
