<%= simple_form_for(@pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %>
    <%= f.input :data %>
    <%= f.input :atualizado_em %>
    <%= f.input :valor %>
    <%= f.input :quantidade %>
    <%= f.input :cpf %>
    <%= f.input :cnpj %>
    <%= f.input :cep %>
    <%= f.input :complemento %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
