<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @pedido.status %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<p>
  <strong>Atualizado em:</strong>
  <%= @pedido.atualizado_em %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pedido.valor %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @pedido.quantidade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pedido.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pedido.cnpj %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pedido.cep %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @pedido.complemento %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
